@model Zaliczenie.Models.Ekstraklasa
@{
    ViewData["Title"] = "About";
}

<p style="text-align: center;">
    <span style="text-align: center;">&nbsp;</span>
</p>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default" style="background-color:transparent; border:none;" asp-action="About">
            <img src="@Url.Content("~/images/Lotto.jpg")" />
        </a>
    </div>
    <div class="col-md-4" style="float:right">
        <a class="btn btn-default" style="background-color:transparent; border:none;" asp-action="Privacy">
            <img src="@Url.Content("~/images/LogoR.png")" />
        </a>
    </div>
</div>
<p style="clear:both;"></p>
<hr />

